@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  color: $text-primary;
  background-color: #fafbfc;
  line-height: 1.5;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: inherit;
}